<head>
  <!-- Những đoạn mã khác -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
</head>
<footer class="bg-primary text-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-uppercase mb-4 small" style="color: white; text-decoration: underline;">Cửa hàng mắt kính AbC</h3>
        <p class="mb-0" style="font-size: 16px; color: white;"><i class="bi bi-geo-alt"></i> Địa chỉ: Lê Thị Riêng, Phường 5, Thành phố Cà Mau</p>
        <p class="mb-0" style="font-size: 16px; color: white;"><i class="bi bi-envelope-fill"></i> Email: 123@gmail.com</p>
        <p class="mb-0" style="font-size: 16px; color: white;"><i class="bi bi-phone"></i> Liên hệ: 029999199299</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-uppercase mb-4 small" style="color: white; text-decoration: underline;">Thời gian hoạt động</h3>
        <p class="mb-0" style="font-size: 16px; color: white;"><i class="bi bi-clock"></i> Thứ 2 đến Thứ 7: Cả ngày</p>
        <p class="mb-0" style="font-size: 16px; color: white;"><i class="bi bi-clock"></i> Chủ nhật: 7h - 17h</p>
        <p class="mb-0" style="font-size: 16px; color: white;"><i class="bi bi-clock"></i> Hoạt động cả ngày lễ</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-uppercase mb-4 small" style="color: white; text-decoration: underline;">Liên kết liên quan</h3>
        <ul class="list-unstyled">
          <li><a href="https://sites.google.com/view/mt-knh-abc/trang-ch%E1%BB%A7?authuser=0" class="text-light" style="font-size: 16px;"><i class="bi bi-house"></i> Trang chủ</a></li>
<li><a href="https://sites.google.com/view/mt-knh-abc/c%C3%A1c-s%E1%BA%A3n-ph%E1%BA%A9m" class="text-light" style="font-size: 16px;"><i class="bi bi-basket"></i> Sản phẩm</a></li>
<li><a href="https://sites.google.com/view/mt-knh-abc/li%C3%AAn-h%E1%BB%87-v%E1%BB%9Bi-ch%C3%BAng-t%C3%B4i?authuser=0" class="text-light" style="font-size: 16px;"><i class="bi bi-telephone"></i> Liên hệ</a></li>
        </ul>
      </div>
      <!-- <div class="col-md-4">
        <h3 class="text-uppercase mb-4 small" style="color: white;">Giờ hoạt động</h3>
        <ul class="list-unstyled">
          <li><a href="https://sites.google.com/view/mt-knh-abc/trang-ch%E1%BB%A7?authuser=0" class="text-light" style="font-size: 16px;">Trang chủ</a></li>
          <li><a href="https://sites.google.com/view/mt-knh-abc/c%C3%A1c-s%E1%BA%A3n-ph%E1%BA%A9m" class="text-light" style="font-size: 16px; ">Sản phẩm</a></li>
          <li><a href="https://sites.google.com/view/mt-knh-abc/li%C3%AAn-h%E1%BB%87-v%E1%BB%9Bi-ch%C3%BAng-t%C3%B4i?authuser=0" class="text-light" style="font-size: 16px; ">Liên hệ</a></li>
        </ul>
      </div> -->
      <!-- <div class="col-md-4">
        <div style="height: 300px; width: 100%;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7877.547497207287!2d105.1449337!3d9.1748709!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a149ccf99d6035%3A0x84dd80add627d19a!2zTeG6r3QgS8OtbmggQXNpYQ!5e0!3m2!1svi!2s!4v1688277509278!5m2!1svi!2s" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div> -->
    <!-- <div class="row"> -->

      <div class="col-md-12 text-center" style="background-color: blue;">
        <p class="mb-0" style="font-size: 16px;">Bản quyền &copy; 2023 Mắt kính ABC</p>
      </div>
    </div>
  </div>
</footer>