<footer class="bg-primary text-light py-3">
  <head>
    <!-- Những đoạn mã khác -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  </head>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-uppercase mb-4 small" style="color: white; text-decoration: underline;">Cửa hàng mắt kính AbC</h3>
        <p class="mb-0" style="font-size: 16px; color: white;"><i class="bi bi-geo-alt"></i> Địa chỉ: Lê Thị Riêng, Phường 5, Thành phố Cà Mau</p>
        <p class="mb-0" style="font-size: 16px; color: white;"><i class="bi bi-envelope-fill"></i> Email: 123@gmail.com</p>
        <p class="mb-0" style="font-size: 16px; color: white;"><i class="bi bi-phone"></i> Liên hệ: 029999199299</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-uppercase mb-4 small" style="color: white; text-decoration: underline;">Thời gian hoạt động</h3>
        <p class="mb-0" style="font-size: 16px; color: white;"><i class="bi bi-clock"></i> Thứ 2 đến Thứ 7: Cả ngày</p>
        <p class="mb-0" style="font-size: 16px; color: white;"><i class="bi bi-clock"></i> Chủ nhật: 7h - 17h</p>
        <p class="mb-0" style="font-size: 16px; color: white;"><i class="bi bi-clock"></i> Hoạt động cả ngày lễ</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-uppercase mb-4 small" style="color: white; text-decoration: underline;">Liên kết liên quan</h3>
        <ul class="list-unstyled">
          <li><a href="https://sites.google.com/view/mt-knh-abc/trang-ch%E1%BB%A7?authuser=0" class="text-light" style="font-size: 16px;"><i class="bi bi-house"></i> Trang chủ</a></li>
<li><a href="https://sites.google.com/view/mt-knh-abc/c%C3%A1c-s%E1%BA%A3n-ph%E1%BA%A9m" class="text-light" style="font-size: 16px;"><i class="bi bi-basket"></i> Sản phẩm</a></li>
<li><a href="https://sites.google.com/view/mt-knh-abc/li%C3%AAn-h%E1%BB%87-v%E1%BB%9Bi-ch%C3%BAng-t%C3%B4i?authuser=0" class="text-light" style="font-size: 16px;"><i class="bi bi-telephone"></i> Liên hệ</a></li>
        </ul>
      </div>
      <div class="col-md-12 text-center" style="background-color: blue;">
        <p class="mb-0" style="font-size: 16px; animation: slide 2s infinite;">Bản quyền &copy; 2023 Mắt kính ABC</p>
      </div>
      
      <style>
        /* Định nghĩa animation với tên slide */
        @keyframes slide {
          0% {
            transform: translateX(0);
          }
          50% {
            transform: translateX(20px);
          }
          100% {
            transform: translateX(0);
          }
        }
      </style>
    </div>
  </div>
</footer>