{% include 'header_1.html' %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<div class="slider">
    <div><img src="https://theme.hstatic.net/1000269337/1000981122/14/slideShow_f1_2.png?v=256"></div>
    <div><img src="https://theme.hstatic.net/1000269337/1000981122/14/slideShow_f1_1.png?v=256"></div>
    <div><img src="https://theme.hstatic.net/1000269337/1000981122/14/slideShow_f1_3.png?v=256"></div>
  </div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  var windowHeight = $(window).height();
  $('.slider > div').css('height', windowHeight);
  $(document).ready(function() {
  $('.card').each(function(i) {
    setTimeout(function() {
      $('.card').eq(i).addClass('visible');
    }, 200 * i);
  });
});
});
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div style="background-color: #0715db; padding: 10px;">
    <h3 style="color: white;">Các bài viết</h3>
  </div>
  <h3></h3>
  <div class="container">
    <div class="row">
      {% for post in posts %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-img-top-wrapper">
            <img class="card-img-top" src="{{ post[2] }}" alt="{{ post[0] }}">
          </div>
          <div class="card-body">
            <h2>{{ post[0] }}</h2>
            <p class="card-text ">{{ post[1] }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
    
</body>

{% include 'footer.html' %}
<style>
    .card-img-top-wrapper {
    overflow: hidden; /* Ẩn phần bị tràn ra ngoài */
    transition: all 0.3s ease-in-out; /* Áp dụng hiệu ứng transition cho toàn bộ phần tử */
  }

  .card-img-top:hover {
    transform: scale(1.2); /* Thay đổi tỉ lệ kích thước hình ảnh khi rê chuột qua */
  }
.col-md-3 {
  max-width: 25%;
}
.slider {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider img.active {
  opacity: 1;
  .card {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

}
</style>
<script>
    var slider = document.querySelector('.slider');
var sliderImages = slider.querySelectorAll('img');

var index = 0;

function nextImage() {
  sliderImages[index].classList.remove('active');
  index = (index + 1) % sliderImages.length;
  sliderImages[index].classList.add('active');
}

setInterval(nextImage, 2000);
</script>